{% extends 'base.html' %}
{% block content %}
    <div class="row mb-3">
        {% if query %}
        <div class="col-12 mb-3">
            Results for <strong>{{ query }}</strong>
        </div>
        {% else %}
        <div class="col-12 col-md-8 mx-auto py-4">
            {% include 'search/snippets/search-form.html' %}
        </div>
        <div class="col-12">
            <hr>
        </div>
        {% endif %}
    </div>
    <div class="row">
            {% for obj in object_list %}
        <div class="col">
            {% include 'products/snippets/card.html' with instance=obj %}
        </div>
    {% endfor %}

    </div>

{% endblock %}
